.about-collapse-section {
  max-width: 1023px; /* Largeur max des collapses */
  margin: 30px auto 0 auto; /* Centrer la section et ajouter une marge en haut */
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
@media (max-width: 767.98px) {
  .about-collapse-section {
   margin: auto;
  }
}