.host-info-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Aligne à droite dans son conteneur parent */
}

.host-name {
  display: flex;
  flex-direction: column; /* Prénom au-dessus du nom */
  align-items: flex-end; /* Texte aligné à droite */
  margin-right: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #FF6060;
  line-height: 1.2;
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

/* --- Media Queries --- */
@media (max-width: 767.98px) {
  .host-name {
    font-size: 12px;
  }
  .host-picture {
    width: 32px;
    height: 32px;
  }
}