.collapse-item {
  width: 100%;
  margin-bottom: 20px;
}

.collapse-header {
  background-color: #FF6060;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  box-sizing: border-box;
}

.collapse-title {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.collapse-icon {
  font-size: 16px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  outline: none;;
}

.collapse-icon.closed {
  transform: rotate(0deg);
}
.collapse-icon.open {
  transform: rotate(180deg);
}

.collapse-content {
 background-color: #F6F6F6; /* Le fond gris clair */
  border-radius: 0 0 5px 5px; /* Arrondis en bas */
  overflow: hidden; /* TRÈS IMPORTANT : Cache tout ce qui dépasse de la hauteur définie */

  /* Styles pour l'animation */
  max-height: 0; /* Quand le collapse est fermé (pas de classe 'open'), la hauteur max est 0 -> contenu caché */
  transition: max-height 0.3s ease-in-out; /* Anime la propriété max-height pendant 0.4 secondes */

  /* Padding horizontal même quand fermé, pour que le fond gris ait la bonne largeur */
  padding: 0 15px; 
}
.collapse-content.open {
  max-height: 500px; 
  padding-top: 20px;
  padding-bottom: 20px; 
  transition: max-height 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}
.collapse-content-inner {
  padding: 20px 15px;
  font-size: 18px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

.collapse-content-inner p {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
}

.collapse-content-inner ul {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0px;
  padding: 0;
  margin: 0;
}
.collapse-content-inner ul li {
  margin-bottom: 4px;
}
.collapse-header:focus {
  outline: none;
  box-shadow: none;
}
.collapse-header:focus-visible {
  outline: none;
}

@media (max-width: 767.98px) {
  .collapse-content {
    padding: 0 10px;
  }
  .collapse-content.open {
    padding-top: 15px; 
    padding-bottom: 15px;
    max-height: 300px; 
  }
  .collapse-header {
    padding: 8px 12px;
  }
  .collapse-title {
    font-size: 13px;
  }
  .collapse-icon {
    font-size: 14px;
  }
  .collapse-content-inner {
    font-size: 12px;
    padding: 15px 10px;
  }
  .collapse-item {
    margin-bottom: 15px;
  }
}